build/sstate-cache
build/tmp
build/cache
build/workspace
build/downloads
build/conf/sanity_info
build/conf/templateconf.cfg
builds/
notes/
.gitignore
taskdir
node_modules
*.log
balena-yocto-scripts/
.vscode
*.swp
