[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts
[submodule "layers/oe-meta-go"]
	path = layers/oe-meta-go
	url = https://github.com/balena-os/oe-meta-go
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena
[submodule "layers/poky"]
	path = layers/poky
	url = git://git.yoctoproject.org/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
[submodule "layers/meta-xilinx"]
	path = layers/meta-xilinx
	url = https://git.yoctoproject.org/cgit/cgit.cgi/meta-xilinx
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust
[submodule "modded-balena-yocto-scripts"]
	path = modded-balena-yocto-scripts
	url = https://github.com/centipeda/modded-balena-yocto-scripts/
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://git.yoctoproject.org/git/meta-virtualization
