LCONF_VERSION = "1"

BBPATH = "${TOPDIR}"

BBFILES ?= ""

BBLAYERS ?= " \
    ${TOPDIR}/../layers/poky/meta \
    ${TOPDIR}/../layers/poky/meta-yocto \
    ${TOPDIR}/../layers/poky/meta-opemebedded-meta-oe \
    ${TOPDIR}/../layers/poky/meta-opemebedded/meta-filesystems \
    ${TOPDIR}/../layers/poky/meta-opemebedded/meta-networking \
    ${TOPDIR}/../layers/poky/meta-opemebedded/meta-python \
    ${TOPDIR}/../layers/meta-xilinx \
    ${TOPDIR}/../layers/meta-balena/meta-balena-common \
    ${TOPDIR}/../layers/meta-balena/meta-balena-warrior \
    ${TOPDIR}/../layers/oe-meta-go \
    "
